<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom dis">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Simple header</span>
      </a>
  
      <ul class="nav nav-pills dis">
        <li class="nav-item"><a href="#" class="nav-link active" routerLink="dashboard">DashBoard</a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="employee">employee</a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="project">projects</a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="project-employee">project-employee</a></li>
       
      </ul>
      <div>
        <button (click)="logout()">LogOut</button>
      </div>
    </header>
  </div>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  