  <!-- Project Table -->
  <div>
    <div>
  <div>
     <h2>Projects</h2>
  </div>
  <div>
     <button routerLink="/layout/new-project/0">New Project</button>
  </div>
 </div>
   
 <table class="table table-bordered">
       <thead>
           <tr>
               <th>Project ID</th>
               <th>Project Name</th>
               <th>Client Name</th>
               <th>Start Date</th>
               <th>Lead By Employee</th>
               <th>Actions</th>
           </tr>
       </thead>
       <tbody>
          @for(item of projectList; track $index){
           <tr>
            <td>{{$index}}</td>
            <td>{{item.projectName}}</td>
            <td>{{item.clientName}}</td>
            <td>{{item.startDate}}</td>
            <td>{{item.leadByEmpId}}</td>
            <td>{{item.leadByEmpId}}</td>
            <td>
              <button (click)="onEdit(item.leadByEmpId)">Edit</button>
              <button (click)="onDelete(item.leadByEmpId)">Delete</button>
             </td>
           </tr>
          }
       </tbody>
   </table>
 </div>
 